body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(55, 235, 200);
    color: rgb(46, 82, 82);
   }
button{
    background-color: rgb(46, 82, 82);
    color:  rgb(55, 235, 200);
    font-family: 'Quicksand', sans-serif;
    font: bold;
    border-radius: 5px;
    border: 0;
    padding: 10px;
}
button:hover{
    background-color: rgb(32, 32, 32);
    opacity: 0.5;
}